body {
  margin: 0;
  padding: 0;
  background-color: #D5D5D5;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden; 
}

h1 {
  margin: 0;
  font-weight: 400;
}

h2 {
  margin: 0;
  font-weight: 400;
  display: inline-block;
}

.box {
  background: #fff;
  box-shadow: 0 10px 50px #858585;
  width: 800px;
  padding: 3rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
}

.header {
  display: grid;
  grid-template-columns: 40% 60%;
}

.header-left {
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 2rem;
}

.first-name {
  font-weight: 400;
  margin: 0;
}
.last-name {
  font-weight: 200;
  margin: 0;
}

.header-right {
  width: 100%;
  display: grid;
  justify-items: end;
}

.header-right p {
  display: inline-block;
}

.grey {
  background: rgb(133, 133, 133);
  color: #fff;
  padding: 0.7rem;
  border-radius: 0.3rem;
}

.icon {
  color: rgb(223, 223, 223);
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

table {
  border: 2px solid #000;
  margin: 1rem 0 1rem 0;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #000;
  padding: 0.4rem;
}

#nav{
  display: flex;
  position: sticky;
  text-decoration: none;
  gap: 50px;
  justify-content: start;
  align-items: center;
  box-shadow: 0 5px 50px #070606;
  background-image: radial-gradient( circle farthest-corner at -8.9% 51.2%,  rgba(255,124,0,1) 0%, rgba(255,124,0,1) 15.9%, rgba(255,163,77,1) 15.9%, rgba(255,163,77,1) 24.4%, rgba(19,30,37,1) 24.5%, rgba(19,30,37,1) 66% );          
  width: 100%;
  height: 40px;
  top: 0%;
  margin-top: 0%;
  list-style-type: none;

}
#nav li{
  margin-left: 15px;
  font-size: 14pt;
}

#dec{
  text-decoration: none ;
  color: black;
}
#dec:hover{
  text-shadow: 0 2px 10px black  ;
  font-size: 14.5pt;
}

#nav-bot{
  display: flex;
  text-decoration: none;
  gap: 25%;
  position: static;
  align-items: center;
  justify-content: center;
  bottom: 0%;
  width: 100%;
  height: 40px;
  list-style-type: none;

}
#dec-bot{
  text-decoration: none ;
  color: black;
}
