* {
    /* padding: 0%; */
    margin: 0%;
}

body {
    overflow-x: hidden;
    background-color: #D5D5D5;
}

.main {
    width: 800px;
    /* border: 1px solid black; */
    box-shadow: 0 10px 50px #858585;
    margin-left: 30%;
    margin-top: 2%;
    padding-bottom: 30px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    background-color: white;
    /* background-color: rgb(206, 204, 204); */
}

img {
    height: 140px;
    width: 110px;
    /* margin-left: 35px;*/
    margin-top: 20px;
    border-radius: 5%;
}

.one {
    background-color: rgb(156, 156, 156);
    vertical-align: top;
    text-align: center;
    overflow-wrap: break-word;
    align-content: center;
    /* display: flex;
    flex-wrap: wrap; */
    /* margin-top: 20px; */
    width: 19%;
    border: 1px solid rgb(156, 156, 156);
    display: inline-block;
    /* border-right: 1px solid rgb(161, 161, 161);
    border-bottom: 1px solid rgb(66, 66, 66); */
    padding-bottom: 10%;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.two {
    width: 76%;
    display: inline-block;
}

.mer {
    display: inline;
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}

.b {
    background-color: rgb(197, 195, 195);
    display: block;
    padding: 2px;
}

#nav {
    display: flex;
    position: sticky;
    text-decoration: none;
    gap: 55px;
    justify-content: start;
    align-items: center;
    box-shadow: 0 5px 50px #070606;
    background-image: radial-gradient(circle farthest-corner at -8.9% 51.2%, rgba(255, 124, 0, 1) 0%, rgba(255, 124, 0, 1) 15.9%, rgba(255, 163, 77, 1) 15.9%, rgba(255, 163, 77, 1) 24.4%, rgba(19, 30, 37, 1) 24.5%, rgba(19, 30, 37, 1) 66%);
    width: 100%;
    height: 40px;
    top: 0%;
    margin-top: 0;
    list-style-type: none;

}

#nav li{
    margin-left: 20px;
    font-size: 14pt;
}

#dec {
    text-decoration: none;
    color: black;
}
#dec:hover{
    text-shadow: 0 2px 10px black  ;
    font-size: 14.5pt;
}
#nav-bot {
    display: flex;
    text-decoration: none;
    gap: 25%;
    position: static;
    align-items: center;
    justify-content: center;
    bottom: 0%;
    width: 100%;
    height: 40px;
    list-style-type: none;

}

#dec-bot {
    text-decoration: none;
    color: black;
}