.main{
    width: 55%;
    border: 1px solid black;
    margin-left: 20%;
    margin-top: 2%;
    padding-bottom: 30px;
    /* background-color: rgb(206, 204, 204); */
}
img{
    height: 140px;
    width: 110px;
    /* margin-left: 35px;*/
    margin-top: 10px;
}
.one{
    background-color: rgb(156, 156, 156);
    vertical-align: top;
    text-align: center;
    align-content: center;
    /* margin-top: 20px; */
    width: 19%;
    border: 1px solid rgb(156, 156, 156);
    display: inline-block;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding-bottom: 10% ;
    padding-top: 10px;

}
.two{
    width: 80%;
    display: inline-block;

}